body{
    background-color: #f3f1ff;
}
.navbar img{
    width: 42px;
}
.row{
    padding: 15px;
}
.player img{
    width: 50px;
}
.container{
    max-width: 60%;
    height: 500px;
    margin-top: 15px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
.top-player{
    border-bottom: rgb(224, 223, 223) 0.5px solid;
    padding: 15px;
}